body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0;

}

:root{
    --color1: #4DBFFF;
    --color2: #fff;
    --paragraphColor: #ccc;
}

.logo{
    user-select: none;
    font-size:larger;
    letter-spacing: 1px;
    padding-left: 1rem;
    z-index: 999;
}

.sante{
    color: var(--color1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    color: var(--color2);
    position: fixed;
    top: 0;
    width: 100vw;
    background: rgba(10, 37, 64, 0.9); /* #0A2540 avec 90% d'opacité */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid #2B5A7D;
    z-index: 1000;
} 

.nav-bar a{
    color: var(--color2);
    text-decoration: none;
    font-size: medium;
    margin: 0 15px;
}


.nav-bar a:hover{
    color: var(--color1);
}
.nav-bar a:focus{
    text-decoration: underline;
    color: var(--color1);
}

.nav-bar a:last-of-type{
    background: var(--color1);
    color: #0A2540;
    padding: 0.3em;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    transition: background 0.3s ease;
    cursor: pointer;
    margin-right: 1.5em;
}

section{
    width: 100%; height: 100%; color: var(--color2); 
}

    /* ? Section Accueil */ 
section#home{
    text-align: center; color: var(--color2);
    background: linear-gradient(to right, #0A2540, #0E3555);
    height: 100%;
}
.self  {
    width: 250px;
    height: 250px;
    border: 2px solid var(--color1);
    border-radius: 50%;
    box-shadow:  var(--color1);
    margin-top: 7em;
}
section#home h1{
    font-size: 3em;
}
section#home p{
    color: var(--paragraphColor);
    font-size: large;
}
.socials i{
    color: var(--color2);
    margin: 10px;
    font-size: 1em;
}
.socials i:hover{
    color: var(--color1);
    transform: scale(1.2, 1.2);
}

    /* ? Section A propos */
section#about{
    background: #0A2540; padding: 3.5em 0;
}
section#about h1{
    text-align: center; margin-bottom: 0;
}
section#about h1 + p{
    text-align: center; color: var(--paragraphColor);
}
.bio{
    color: var(--paragraphColor);
}

p button{
    background: #4DBFFF; border: none; border-radius: 5px;
}
.discuss-btn:has(a){
    background: #4DBFFF; width:100%; border: none; border-radius: 10px;
    padding: 10px; margin-left: 10px;
}
button > a, button > i{
    text-decoration: none; color: #0F3A5F;font-weight:bold; padding: 5px;
}
section#about button:hover{
    opacity: 0.9;
}

.infos-persos{
    margin: 15px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 30px;
}
.history{
    display: flex; flex-direction: column;
}
.carte-contact{
    background: #0F3A5F; border: 1px solid #2B5A7D; border-radius: 10px;
    padding: 20px;  align-items: flex-end;

}
table i{
    background: rgba(77, 191, 255, 0.1); color: var(--color1); font-size: 22px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 5px;
}
.label{
    color: var(--paragraphColor);font-size: small;
}

/* ?Section Projets*/
section#project{
    background-color: #0F3A5F; padding: 3.5em 0;
}
section#project h1{
    text-align: center;
}
section#project h1 + p{
    text-align: center; color: var(--paragraphColor); margin-bottom: 30px;
}

.project-container{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
}
.carte-projet{
    background-color: #0A2540;
    width: 30vw;
    border: 1px solid #2B5A7D; border-radius: 20px;
    overflow: hidden;
}
.carte-projet  img{
    width: 100%; height: 50%;
}
.carte-projet p{
    color: var(--paragraphColor); font-size: small;
}
.carte-projet h2, .carte-projet p, .carte-projet div{
    margin: 20px 20px 0 20px;
}
.carte-projet:hover{box-shadow: 2px 4px 20px var(--color1); transform: scale(.9, .9); opacity: 0.8;}
.badge span{
    background-color: #0F3A5F; color: var(--color1);
    border: 1px solid var(--color1); border-radius: 10px;
    padding: 0 10px; margin: 0 5px 0 0;
}

/* !configuration du bouton GitHub*/  
.github-btn{
    border: 1px solid var(--color1); border-radius: 10px;
    padding: 10px; margin: 20px; background: #0A2540;
    position: relative; left: 38%;
}
.github-btn *{
    color: var(--color1) ; padding: 5px 10px;

}
.github-btn:hover{
    background-color: var(--color1);
}
.github-btn *:hover{
    color: #0A2540;
}

/* ? Section Competences*/
section#skill{
    background-color: #0A2540; padding: 3.5em 0;
}
section#skill h1, .others-skill h2{
    text-align: center;
}
section#skill h1 + p{
    text-align: center; color: var(--paragraphColor); margin-bottom: 30px;
}

.skill-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); gap: 0 30px; margin: 20px;
}
.skill-card{
    background-color: #0F3A5F;
    width: 30vw;
    border: 1px solid #2B5A7D; border-radius: 20px;
    overflow: hidden;
}
.skill-card h2, .skill-card div{
    margin: 10px; font-size: large
}
h2 i{
    background: rgba(77, 191, 255, 0.1); color: var(--color1); font-size: 22px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 5px;
}
.skill-name{
    display: flex; justify-content: space-between; font-size: medium !important;
}
.progress {
    margin: 20px 0;
}
progress{display: inline-block; position: relative; left: 15px; width: 90%; margin: 5px 0 7px 0; appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden; border-radius: 20px; height: 10px;
}

/*progress { width:100%; height:14px; border-radius:10px; overflow:hidden; appearance:none; }*/
progress::-webkit-progress-bar { background:#0A2540; }
progress::-webkit-progress-value { background-color: var(--color1); border-radius: 20px; }
progress::-moz-progress-bar { background-color: #0E3555; }
/* !other skills*/
.others-container{display: flex; justify-content: center; gap: 20px;}
.others{
     color: var(--color1); border: 1px solid var(--color1) ;border-radius: 20px; padding: 7px; opacity: .7;
}

/* ? Section formations*/
section#formation{background-color: #0F3A5F; padding: 3.5em 0;}
section#formation h1{
    text-align: center;
}
section#formation h1 + p{
    text-align: center; color: var(--paragraphColor); margin-bottom: 30px;
}

.academique{
    display: grid; margin-bottom: 2.5em;
}

.dut, .bac{
    background-color: #0A2540;
    border: 1px solid #2B5A7D; border-radius: 10px;
    margin: 0 15px 10px 15px; padding: 30px;
}
.date{position: absolute;}

.header span{
    margin-left: 20em; color: var(--paragraphColor);
}
/* ? Emtete des formations*/
.header{
    line-height: 10px; margin-bottom: 2em;
}

.certification{
    display: grid;
    grid-template-columns: repeat(2, 1fr); margin-top: 0;
    
}
.huawei, .fcc{
    background-color: #0A2540;
    border: 1px solid #2B5A7D; border-radius: 10px;
    margin: 0 15px 15px 15px; padding: 30px;
}

/* ? Footer */
footer{
    width: 100%; background-color: #0A2540; color: var(--color2);
    padding: 3.5em 0 0;
}

footer p{color: var(--paragraphColor);}
footer > h1, footer > p{text-align: center;}

.grid-contain{
    display: grid; grid-template-columns: 1fr 1fr; gap: 20px;
}

.formulaire{
    background-color: #0F3A5F;display: grid; gap: 10px;
    padding: 0 1.5em 1.5em; margin:0 1em 2em 2em; 
    border: .5px solid var(--color1); border-radius: 5px;
}

.formulaire input, .formulaire textarea{
    background-color: #0A2540; padding: 1em; margin: 0 0.5em 0.5em;
    border: .5px solid var(--color1); border-radius: 10px;
    color: #fff;
}

input:focus, textarea:focus{outline: 2px solid var(--color1);}

.formulaire button{background-color: var(--color1); color: #0A2540;border: none; border-radius: 5px;
    padding: 10px; margin-top: 2em; cursor: pointer;
}

.social-media {text-align: center; margin-bottom: 0;}

hr {
    border: none;
    height: 0.1px;
    background-color: #4DBFFF; opacity: 0.3;
    width: 95%; margin-top: 0;
}

.CV{
   text-align: center;
   background: linear-gradient(135deg, #0A2540, #4DBFFF);
   margin: 2em; padding: 1.5em 0; border-radius: 15px;
}
.CV button{color: var(--color1); border: none; border-radius: 5px;
    padding:0.5em; font-size: large; cursor: pointer;
}
.CV i{color: #4DBFFF;}

.download-Vitae{
   text-align: center;
   margin-top: 2em;
}

#btn-menu{
    display: none; 
    margin: 0 1.2em; 
    font-size: 1.3em;
    cursor: pointer;
}
#btn-menu:hover{transform: scale(1.1,1.1);}

/* ! style a adoptè au clic de l'icone de menu*/
.menu{
        position: absolute;
        top: 5em;
        display: flex;
        flex-direction: column;
        align-items:center;
        gap: 20px;
        background: rgba(10, 37, 64);
        width: 100vw; height: 100vh;
        transition: ease 0.3s;
    }

/* ? Responsive Design */
@media (max-width: 768px) {
    /* ! le selecteur de classe menu est utilisé par l'appel du script showMenu*/
    .nav-bar{
        position: absolute;
        top: 3.5em;
        margin-left: -150%; /* masquer le contenu de nav-bar. ce dernier ne va s'afficher qu'au clic de menu*/
    }

    .menu{margin-left: 0;} /* ! Défaire ce que {margin-left: -150%;} avait fait */

    #btn-menu{
        display: block;
        z-index: 10;
    }

    .self{
        width: 150px;
        height:150px;
    }

    section, footer{
        width: 100vw;
        height: 100%;
    }

    .infos-persos,.certification{
        grid-template-columns: 1fr;
    }

    .project-container, .skill-container, .academique, .grid-contain{
        grid-template-columns: 1fr;
        gap: 20px;
        justify-content: center;
    }

    .others-container{display: grid; grid-template-columns: repeat(2, 1fr); padding: 15px;}

    .carte-projet, .skill-card{width: 90vw;}
    .github-btn{left: 10%; width:auto;}
    .certifie{width:inherit;}
}